div,
li,
ul,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}



.calendar {
    position: absolute;
    /* left: 200px; */
    margin: 19.2857vh auto;
    width: 45vh;
    height: 64.928vh;
    padding-left: 2.5714vh;
    padding-right: 2.5714vh;
    padding-bottom: 2.5714vh;
    border: 0.6428vh white solid;
    border-radius: 3.857vh;
    background-color: mediumturquoise;
    user-select: none;

}

.contemporary {
    margin: 2.5714vh auto;
    width: 19.2857vh;
    height: 19.2857vh;
    border-radius: 50%;
    border: 0.6428vh white solid;
    text-align: center;

}

.month-year {
    position: relative;
    margin: 0 auto;
    display: flex;
    padding-left: 0.6428vh;
    height: 6.428vh;
    width: 100%;
    border: 0.3857vh white solid;
    align-items: center;
    justify-content: center;
}

#prev {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0.6428vh;
    border-left: 0;
    border-right: 1.2857vh white solid;
    border-top: 1.2857vh transparent solid;
    border-bottom: 1.2857vh transparent solid;
    cursor: pointer;
}

#next {
    position: absolute;
    right: 0.6428vh;
    width: 0px;
    height: 0px;
    border-left: 1.2857vh white solid;
    border-right: 0px transparent solid;
    border-top: 1.2857vh transparent solid;
    border-bottom: 1.2857vh transparent solid;
    cursor: pointer;
}

#datenow {
    color: white;
    width: 100%;
    font-size: 10.2857vh;
    line-height: 12.857vh;
}

#daynow {
    color: white;
    width: 100%;
    font-size: 1.9285vh;
    font-weight: 400;
}

#month,
#year {
    padding-left: 2.6428vh;
    width: 100%;
    padding-right: 0.6428vh;
    color: white;
    font-size: 3.857vh;
    font-weight: 300;
}



.card>li {
    float: left;
    width: 5.509285vh;
    height: 2.5714vh;
    text-align: center;
    line-height: 2.5714vh;


}

.card {
    margin: 1.9285vh 0;
    margin-bottom: 0.6428vh;
    font-size: 1.54285vh;
    color: mediumturquoise;
    font-weight: 600;
    height: 2.5714vh;
    width: 100%;
    line-height: 2.5714vh;
    background-color: white;
}

#add {
    display: inline-block;
    width: 100%;
    height: 19.2857vh;

}

#add>li {
    float: left;
    width: 5.509285vh;
    height: 4.5vh;
    text-align: center;
    line-height: 4.5vh;
    font-size: 2.31428vh;
    font-weight: 700;
    color: white;
    cursor: pointer;
    user-select: none;
}


#add>.now {
    background-color: white;
    color: mediumturquoise;
    border-radius: 0.6428vh;
}

#add>.notnow:hover {
    background-color: white;
    color: mediumturquoise;
    border-radius: 0.6428vh;
}

#add>.none {
    cursor: unset;
}