div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dail {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    margin: 100px auto;
    border-radius: 50%;
    /* border: 3px solid skyblue; */
    box-shadow: 8px 5px 24px -10px grey, -6px -3px 6px -9px grey inset, 2px -3px 6px -6px grey inset, 2px 3px 6px -8px grey inset;
    justify-content: center;
    align-items: center;
}

.dail2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: -2px -2px 26px -16px rgb(97, 94, 94) inset;
}

.dail3 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 8px 5px 24px -10px grey,
        -6px -3px 6px -9px grey inset;
}

.Scale {
    position: absolute;
    height: 15px;
    width: 1.5px;
    z-index: 3;
}

.Scale div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 17, 255);
}

.scale1,
.scale4,
.scale7,
.scale10 {
    background-color: red !important;
}

.scale1 {
    transform: rotateZ(000deg) translateY(-75px);
}

.scale2 {
    transform: rotateZ(030deg) translateY(-75px);
}

.scale3 {
    transform: rotateZ(060deg) translateY(-75px);
}

.scale4 {
    transform: rotateZ(090deg) translateY(-75px);
}

.scale5 {
    transform: rotateZ(120deg) translateY(-75px);
}

.scale6 {
    transform: rotateZ(150deg) translateY(-75px);
}

.scale7 {
    transform: rotateZ(180deg) translateY(-75px);
}

.scale8 {
    transform: rotateZ(210deg) translateY(-75px);
}

.scale9 {
    transform: rotateZ(240deg) translateY(-75px);
}

.scale10 {
    transform: rotateZ(270deg) translateY(-75px);
}

.scale11 {
    transform: rotateZ(300deg) translateY(-75px);
}

.scale12 {
    transform: rotateZ(330deg) translateY(-75px);
}

.accurate {
    position: absolute;
    height: 5px;
    width: 1.5px;
    z-index: 2;
}

.accurate div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFD700;
}

.accurate div:nth-child(1) {
    transform: rotateZ(6deg) translateY(-75px);
}

.accurate div:nth-child(2) {
    transform: rotateZ(12deg) translateY(-75px);
}

.accurate div:nth-child(3) {
    transform: rotateZ(18deg) translateY(-75px);
}

.accurate div:nth-child(4) {
    transform: rotateZ(24deg) translateY(-75px);
}

.accurate div:nth-child(5) {
    transform: rotateZ(30deg) translateY(-75px);
}

.accurate div:nth-child(6) {
    transform: rotateZ(36deg) translateY(-75px);
}

.accurate div:nth-child(7) {
    transform: rotateZ(42deg) translateY(-75px);
}

.accurate div:nth-child(8) {
    transform: rotateZ(48deg) translateY(-75px);
}

.accurate div:nth-child(9) {
    transform: rotateZ(54deg) translateY(-75px);
}

.accurate div:nth-child(10) {
    transform: rotateZ(60deg) translateY(-75px);
}

.accurate div:nth-child(11) {
    transform: rotateZ(66deg) translateY(-75px);
}

.accurate div:nth-child(12) {
    transform: rotateZ(72deg) translateY(-75px);
}

.accurate div:nth-child(13) {
    transform: rotateZ(78deg) translateY(-75px);
}

.accurate div:nth-child(14) {
    transform: rotateZ(84deg) translateY(-75px);
}

.accurate div:nth-child(15) {
    transform: rotateZ(90deg) translateY(-75px);
}

.accurate div:nth-child(16) {
    transform: rotateZ(96deg) translateY(-75px);
}

.accurate div:nth-child(17) {
    transform: rotateZ(102deg) translateY(-75px);
}

.accurate div:nth-child(18) {
    transform: rotateZ(108deg) translateY(-75px);
}

.accurate div:nth-child(19) {
    transform: rotateZ(114deg) translateY(-75px);
}

.accurate div:nth-child(20) {
    transform: rotateZ(120deg) translateY(-75px);
}

.accurate div:nth-child(21) {
    transform: rotateZ(126deg) translateY(-75px);
}

.accurate div:nth-child(22) {
    transform: rotateZ(132deg) translateY(-75px);
}

.accurate div:nth-child(23) {
    transform: rotateZ(138deg) translateY(-75px);
}

.accurate div:nth-child(24) {
    transform: rotateZ(144deg) translateY(-75px);
}

.accurate div:nth-child(25) {
    transform: rotateZ(150deg) translateY(-75px);
}

.accurate div:nth-child(26) {
    transform: rotateZ(156deg) translateY(-75px);
}

.accurate div:nth-child(27) {
    transform: rotateZ(162deg) translateY(-75px);
}

.accurate div:nth-child(28) {
    transform: rotateZ(168deg) translateY(-75px);
}

.accurate div:nth-child(29) {
    transform: rotateZ(174deg) translateY(-75px);
}

.accurate div:nth-child(30) {
    transform: rotateZ(180deg) translateY(-75px);
}

.accurate div:nth-child(31) {
    transform: rotateZ(186deg) translateY(-75px);
}

.accurate div:nth-child(32) {
    transform: rotateZ(192deg) translateY(-75px);
}

.accurate div:nth-child(33) {
    transform: rotateZ(198deg) translateY(-75px);
}

.accurate div:nth-child(34) {
    transform: rotateZ(204deg) translateY(-75px);
}

.accurate div:nth-child(35) {
    transform: rotateZ(210deg) translateY(-75px);
}

.accurate div:nth-child(36) {
    transform: rotateZ(216deg) translateY(-75px);
}

.accurate div:nth-child(37) {
    transform: rotateZ(222deg) translateY(-75px);
}

.accurate div:nth-child(38) {
    transform: rotateZ(228deg) translateY(-75px);
}

.accurate div:nth-child(39) {
    transform: rotateZ(234deg) translateY(-75px);
}

.accurate div:nth-child(40) {
    transform: rotateZ(240deg) translateY(-75px);
}

.accurate div:nth-child(41) {
    transform: rotateZ(246deg) translateY(-75px);
}

.accurate div:nth-child(42) {
    transform: rotateZ(252deg) translateY(-75px);
}

.accurate div:nth-child(43) {
    transform: rotateZ(258deg) translateY(-75px);
}

.accurate div:nth-child(44) {
    transform: rotateZ(264deg) translateY(-75px);
}

.accurate div:nth-child(45) {
    transform: rotateZ(270deg) translateY(-75px);
}

.accurate div:nth-child(46) {
    transform: rotateZ(276deg) translateY(-75px);
}

.accurate div:nth-child(47) {
    transform: rotateZ(282deg) translateY(-75px);
}

.accurate div:nth-child(48) {
    transform: rotateZ(288deg) translateY(-75px);
}

.accurate div:nth-child(49) {
    transform: rotateZ(294deg) translateY(-75px);
}

.accurate div:nth-child(50) {
    transform: rotateZ(300deg) translateY(-75px);
}

.accurate div:nth-child(51) {
    transform: rotateZ(306deg) translateY(-75px);
}

.accurate div:nth-child(52) {
    transform: rotateZ(312deg) translateY(-75px);
}

.accurate div:nth-child(53) {
    transform: rotateZ(318deg) translateY(-75px);
}

.accurate div:nth-child(54) {
    transform: rotateZ(324deg) translateY(-75px);
}

.accurate div:nth-child(55) {
    transform: rotateZ(330deg) translateY(-75px);
}

.accurate div:nth-child(56) {
    transform: rotateZ(336deg) translateY(-75px);
}

.accurate div:nth-child(57) {
    transform: rotateZ(342deg) translateY(-75px);
}

.accurate div:nth-child(58) {
    transform: rotateZ(348deg) translateY(-75px);
}

.accurate div:nth-child(59) {
    transform: rotateZ(354deg) translateY(-75px);
}

.accurate div:nth-child(60) {
    transform: rotateZ(360deg) translateY(-75px);
}

.centerpoint1 {
    position: absolute;

    z-index: 1;
    width: 8px;
    height: 8px;

    border-radius: 50%;
    background: red;

}

.centerpoint2 {
    position: absolute;

    z-index: 1;
    width: 5px;
    height: 5px;

    border-radius: 50%;
    background: #FFD700;

}

.centerpoint3 {
    position: absolute;

    z-index: 1;
    width: 3px;
    height: 3px;

    border-radius: 50%;
    background: rgb(0, 17, 255);

}

.pointer {
    position: absolute;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 100px;
}

.ss,
.min,
.hr {
    display: flex;
    justify-content: center;
}

.pointer1 {
    position: absolute;

    height: 60px;
    width: 1.5px;
    background-color: rgb(0, 17, 255);
    z-index: 4;
}

.pointer2 {
    position: absolute;
    bottom: 30px;
    width: 3px;
    height: 12.5px;
    background-color: rgb(0, 17, 255);
    z-index: 4;
    /* border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 20px solid rgb(0, 60, 255); */
}

.pointer3 {
    position: absolute;
    bottom: 55px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 10px solid #FFD700;
    z-index: 3;
}

.pointer4 {
    position: absolute;
    bottom: 65px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 35px solid #FFD700;
    z-index: 3;
}

.pointer5 {
    position: absolute;
    bottom: 50px;
    height: 10px;
    width: 1.5px;
    background-color: #FFD700;
    z-index: 3;
}

.pointer6 {
    position: absolute;
    bottom: 55px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 5px solid rgb(255, 0, 34);
    z-index: 2;
}

.pointer7 {
    position: absolute;
    bottom: 60px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 25px solid rgb(255, 0, 34);
    z-index: 2;
}

.pointer8 {
    position: absolute;
    bottom: 50px;
    height: 10px;
    width: 1.5px;
    background-color: rgb(255, 0, 34);
    z-index: 2;
}