div,
body,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.message {
    position: absolute;
    right: 0;
    width: 77.142vh;
    height: 77.142vh;

    /* margin: 0; */
    /* border: 5px lightgrey solid; */
    border-radius: 1.2857vh;
}

#text {
    position: absolute;
    padding: 0.64285vh;
    top: 2.82854vh;
    left: 2.18569vh;
    font-size: 2.5714vh;
    font-weight: 600;
    vertical-align: bottom;
    overflow-y: visible;
    resize: none;
    border: 0.64285vh lightgrey solid;
    border-radius: 1.2857vh;
    outline: none;
    background-color: transparent;
}

button {
    position: absolute;
    right: 2.5714vh;
    top: 6.4285vh;
    width: 10.2857vh;
    /* height: 5.14285vh; */
    font-size: 2.5714vh;
    font-weight: 600;
    border-radius: 1.2857vh;
    line-height: 5.14285vh;
    border: 0.6428vh lightgrey solid;
    background-color: transparent;
    cursor: pointer;
}

/* button:hover {
    background-color: lightgrey;
} */

button:active {
    background-color: lightgrey;
}

.showtext {
    position: relative;
    top: 23.14285vh;
    /* background-color: aqua; */
    width: 77.1428vh;
    /* height: 200px; */
    border-top: 0.6428vh lightgrey solid;
    border-bottom: 0.6428vh lightgrey solid;

}

.showtext ul li {
    margin-top: 2.82854vh;
    padding: 0.6428vh;
    margin: 2.82854vh auto;
    width: 64.285vh;
    font-size: 2.5714vh;
    font-weight: 600;
    color: rgb(145, 142, 142);
    font-family: 宋体;
    border: 0.6428vh lightgrey solid;
    border-radius: 1.2857vh;
    text-align: justify;

}